<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fishid1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,563},{75,48}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>fishid1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,492},{74,47}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>fishid1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,443},{75,47}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>fishid1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,741},{76,47}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>fishid1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,85},{78,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>fishid1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,150},{78,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>fishid1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,393},{78,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>fishid1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,306},{77,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,48}</string>
			</dict>
			<key>fishid10_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,838},{94,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>fishid10_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,361},{95,84}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>fishid10_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,966},{95,56}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>fishid10_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1},{95,72}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>fishid10_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,741},{95,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>fishid10_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,328},{94,93}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,98}</string>
			</dict>
			<key>fishid11_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,972},{93,48}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fishid11_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,401},{84,69}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fishid11_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,323},{78,84}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fishid11_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1},{74,90}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fishid11_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,498},{79,80}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fishid11_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,156},{86,67}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fishid11_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,697},{96,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fishid11_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{100,36}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fishid12_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,775},{99,122}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,160}</string>
			</dict>
			<key>fishid12_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,363},{84,122}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,160}</string>
			</dict>
			<key>fishid12_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,778},{89,123}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,160}</string>
			</dict>
			<key>fishid12_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1},{90,117}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,160}</string>
			</dict>
			<key>fishid12_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,623},{106,118}}</string>
				<key>offset</key>
				<string>{2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,160}</string>
			</dict>
			<key>fishid12_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,131},{104,106}}</string>
				<key>offset</key>
				<string>{0,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,160}</string>
			</dict>
			<key>fishid12_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,247},{104,114}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,160}</string>
			</dict>
			<key>fishid12_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,623},{99,127}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,160}</string>
			</dict>
			<key>fishid13_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,507},{134,75}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,875},{135,71}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,948},{136,67}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,773},{134,63}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,618},{133,65}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,936},{133,61}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,873},{135,61}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,503},{136,66}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,621},{135,74}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid13_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,773},{133,75}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>fishid15_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,758},{59,19}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid15_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,758},{60,20}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid15_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,741},{61,26}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid15_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,331},{60,28}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid15_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,331},{60,28}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid15_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,741},{61,25}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid15_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,999},{60,21}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid15_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,487},{59,18}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid16_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,741},{73,30}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid16_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,752},{73,24}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid16_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,999},{73,21}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid16_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,850},{73,22}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid16_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,850},{73,23}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid16_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,741},{73,27}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid16_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,838},{73,31}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid16_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,838},{73,33}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>fishid2_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,640},{62,55}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,200},{61,60}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,541},{61,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,199},{62,45}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,331},{66,32}}</string>
				<key>offset</key>
				<string>{-7,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,993},{67,28}}</string>
				<key>offset</key>
				<string>{-7,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,993},{69,28}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,741},{68,30}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,263},{66,38}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,597},{64,48}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,64}</string>
			</dict>
			<key>fishid204_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,876},{268,88}}</string>
				<key>offset</key>
				<string>{16,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>fishid204_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,255},{250,77}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>fishid204_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,780},{258,94}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>fishid204_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,876},{254,94}}</string>
				<key>offset</key>
				<string>{2,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>fishid204_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,528},{250,99}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>fishid204_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,517},{239,83}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>fishid204_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,255},{260,78}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>fishid204_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,255},{271,92}}</string>
				<key>offset</key>
				<string>{14,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,160}</string>
			</dict>
			<key>fishid3_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,399},{55,32}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,50}</string>
			</dict>
			<key>fishid3_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,456},{56,31}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,50}</string>
			</dict>
			<key>fishid3_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,456},{56,31}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,50}</string>
			</dict>
			<key>fishid3_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,514},{55,31}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,50}</string>
			</dict>
			<key>fishid3_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,571},{55,31}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,50}</string>
			</dict>
			<key>fishid3_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,685},{54,31}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,50}</string>
			</dict>
			<key>fishid3_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,571},{54,32}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,50}</string>
			</dict>
			<key>fishid3_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,628},{55,31}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,50}</string>
			</dict>
			<key>fishid4_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,584},{106,35}}</string>
				<key>offset</key>
				<string>{14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,55}</string>
			</dict>
			<key>fishid4_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,462},{95,39}}</string>
				<key>offset</key>
				<string>{23,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,55}</string>
			</dict>
			<key>fishid4_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,103},{94,38}}</string>
				<key>offset</key>
				<string>{24,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{181,55}</string>
			</dict>
			<key>fishid4_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,743},{106,30}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,55}</string>
			</dict>
			<key>fishid4_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,584},{109,35}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,55}</string>
			</dict>
			<key>fishid4_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,742},{109,29}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,55}</string>
			</dict>
			<key>fishid5_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,239},{82,82}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fishid5_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,90},{81,82}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fishid5_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,235},{81,76}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fishid5_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,318},{81,72}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fishid5_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,312},{81,67}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fishid5_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,312},{79,67}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fishid5_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,231},{79,73}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fishid5_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,580},{81,78}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>fishid6_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,89},{91,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>fishid6_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,165},{93,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>fishid6_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,98},{93,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>fishid6_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,685},{91,54}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>fishid6_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,697},{91,42}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>fishid6_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,462},{91,41}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>fishid6_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,571},{92,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>fishid6_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,936},{93,55}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,80}</string>
			</dict>
			<key>fishid7_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,966},{104,56}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,972},{102,47}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,972},{102,47}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,966},{101,55}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,769},{96,67}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1},{92,80}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,239},{88,87}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,239},{85,87}}</string>
				<key>offset</key>
				<string>{-10,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,424},{91,81}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid7_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,605},{98,70}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,100}</string>
			</dict>
			<key>fishid8_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,93},{65,98}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>fishid8_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,395},{65,83}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>fishid8_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,174},{63,76}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>fishid8_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,480},{64,81}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>fishid8_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,225},{66,79}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>fishid8_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,83},{65,84}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>fishid8_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,871},{63,89}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>fishid8_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,165},{64,93}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,104}</string>
			</dict>
			<key>fishid9_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1},{87,77}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fishid9_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1},{86,80}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fishid9_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,235},{86,73}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fishid9_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,514},{87,55}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fishid9_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,677},{85,49}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fishid9_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1},{82,48}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fishid9_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,514},{83,55}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fishid9_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,677},{85,62}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fishid9_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,409},{87,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,90}</string>
			</dict>
			<key>fish_com_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,131},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>fish_com_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,507},{112,114}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>fish_com_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,1},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>fish_com_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{235,252}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>fish_com_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,363},{96,97}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_small.png</string>
			<key>realTextureFileName</key>
			<string>fish_small.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>