<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fishid154_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,886},{242,277}}</string>
				<key>offset</key>
				<string>{-5,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>fishid154_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,918},{262,281}}</string>
				<key>offset</key>
				<string>{10,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>fishid154_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,637},{281,279}}</string>
				<key>offset</key>
				<string>{10,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>fishid154_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,358},{286,277}}</string>
				<key>offset</key>
				<string>{9,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>fishid154_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,616},{268,278}}</string>
				<key>offset</key>
				<string>{-5,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,340}</string>
			</dict>
			<key>fishid155_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,356},{515,349}}</string>
				<key>offset</key>
				<string>{17,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>fishid155_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1568,1},{516,350}}</string>
				<key>offset</key>
				<string>{17,13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>fishid155_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1},{521,354}}</string>
				<key>offset</key>
				<string>{14,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>fishid155_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{522,355}}</string>
				<key>offset</key>
				<string>{14,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>fishid155_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,1},{518,353}}</string>
				<key>offset</key>
				<string>{16,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,400}</string>
			</dict>
			<key>fishid156_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,707},{356,189}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,200}</string>
			</dict>
			<key>fishid156_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,1087},{348,187}}</string>
				<key>offset</key>
				<string>{-11,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,200}</string>
			</dict>
			<key>fishid156_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,707},{330,184}}</string>
				<key>offset</key>
				<string>{-20,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,200}</string>
			</dict>
			<key>fishid156_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,893},{341,178}}</string>
				<key>offset</key>
				<string>{-15,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,200}</string>
			</dict>
			<key>fishid156_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,357},{348,177}}</string>
				<key>offset</key>
				<string>{-11,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,200}</string>
			</dict>
			<key>fishid156_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,358},{369,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,200}</string>
			</dict>
			<key>fishid156_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,729},{356,192}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,200}</string>
			</dict>
			<key>fishid157_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1182},{257,244}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>
			<key>fishid157_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1428},{254,244}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>
			<key>fishid157_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,898},{248,243}}</string>
				<key>offset</key>
				<string>{-4,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>
			<key>fishid157_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1130},{243,246}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>
			<key>fishid157_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,1008},{243,239}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>
			<key>fishid157_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1242},{243,236}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>
			<key>fishid157_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,1073},{243,232}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>
			<key>fishid157_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,1008},{250,232}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,260}</string>
			</dict>
			<key>fish_com_boss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,357},{342,257}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,276}</string>
			</dict>
			<key>fish_com_boss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,519},{487,338}}</string>
				<key>offset</key>
				<string>{0,-39}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{488,418}</string>
			</dict>
			<key>fishid502_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1781},{173,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid502_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1674},{174,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid502_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,1480},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid502_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,1073},{176,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid502_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,1781},{177,174}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid502_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,1480},{180,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid502_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1143},{180,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid502_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1605},{178,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid503_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,1656},{173,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid503_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1659},{174,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid503_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1307},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid503_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,1249},{176,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid503_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1785},{177,174}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid503_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1319},{180,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid503_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1375},{180,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid503_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1671},{178,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid504_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,1832},{173,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid504_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1727},{174,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid504_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1437},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid504_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,1251},{176,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid504_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,1835},{177,174}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid504_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1429},{180,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid504_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1483},{180,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid504_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1789},{178,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid505_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1787,1656},{173,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid505_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1850},{174,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid505_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,1495},{174,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid505_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1432,1427},{176,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid505_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1847},{177,174}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid505_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1551},{180,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid505_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1613},{180,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>fishid505_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,1605},{178,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_boss.png</string>
			<key>realTextureFileName</key>
			<string>fish_boss.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>