<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fishid104_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1749},{270,211}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,300}</string>
			</dict>
			<key>fishid104_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1749},{272,223}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{340,300}</string>
			</dict>
			<key>fishid104_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,596},{272,277}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,300}</string>
			</dict>
			<key>fishid104_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,718},{279,299}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,300}</string>
			</dict>
			<key>fishid104_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,1285},{290,300}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,300}</string>
			</dict>
			<key>fishid104_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,416},{298,300}}</string>
				<key>offset</key>
				<string>{14,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,300}</string>
			</dict>
			<key>fishid105_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,195},{400,219}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,280}</string>
			</dict>
			<key>fishid105_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,1285},{393,219}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,280}</string>
			</dict>
			<key>fishid105_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,387},{388,207}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,280}</string>
			</dict>
			<key>fishid105_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,1042},{396,204}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,280}</string>
			</dict>
			<key>fishid105_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1554,159},{386,175}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,280}</string>
			</dict>
			<key>fishid158_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,835},{466,217}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,250}</string>
			</dict>
			<key>fishid158_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1303},{463,218}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{500,250}</string>
			</dict>
			<key>fishid158_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,195},{454,190}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,250}</string>
			</dict>
			<key>fishid158_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,1587},{452,164}}</string>
				<key>offset</key>
				<string>{-14,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,250}</string>
			</dict>
			<key>fishid158_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1},{448,156}}</string>
				<key>offset</key>
				<string>{-19,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,250}</string>
			</dict>
			<key>fishid158_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1},{467,168}}</string>
				<key>offset</key>
				<string>{-9,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,250}</string>
			</dict>
			<key>fishid158_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,1},{482,192}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,250}</string>
			</dict>
			<key>fishid158_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,835},{477,205}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,250}</string>
			</dict>
			<key>fishid152_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{304,426}}</string>
				<key>offset</key>
				<string>{2,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,440}</string>
			</dict>
			<key>fishid152_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{266,404}}</string>
				<key>offset</key>
				<string>{-26,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,440}</string>
			</dict>
			<key>fishid152_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1768},{251,393}}</string>
				<key>offset</key>
				<string>{7,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,440}</string>
			</dict>
			<key>fishid152_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,356},{180,385}}</string>
				<key>offset</key>
				<string>{12,27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,440}</string>
			</dict>
			<key>fishid152_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,171},{183,387}}</string>
				<key>offset</key>
				<string>{13,26}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,440}</string>
			</dict>
			<key>fishid152_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1042},{241,404}}</string>
				<key>offset</key>
				<string>{16,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,440}</string>
			</dict>
			<key>fishid153_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,677},{297,272}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{360,340}</string>
			</dict>
			<key>fishid153_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,976},{286,269}}</string>
				<key>offset</key>
				<string>{-2,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,340}</string>
			</dict>
			<key>fishid153_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,1248},{297,244}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,340}</string>
			</dict>
			<key>fishid153_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1506},{316,241}}</string>
				<key>offset</key>
				<string>{6,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,340}</string>
			</dict>
			<key>fishid153_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,1753},{313,254}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,340}</string>
			</dict>
			<key>fishid201_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,1},{141,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,135}</string>
			</dict>
			<key>fish_com_boss_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,387},{288,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,288}</string>
			</dict>
			<key>fish_com_boss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,429},{365,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,276}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fish_whale.png</string>
			<key>realTextureFileName</key>
			<string>fish_whale.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>