<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_coin1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,316},{36,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{36,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,354},{16,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{16,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,316},{44,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{44,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,156},{56,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,214},{54,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{54,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,436},{36,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{36,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,352},{16,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{16,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{44,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{44,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{56,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{54,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{54,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,316},{36,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{36,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,334},{16,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{16,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{44,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{44,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,98},{56,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,212},{54,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{54,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,376},{36,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{36,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,316},{16,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,11},{16,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{44,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{44,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,98},{56,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_coin2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,212},{54,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{54,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,436},{36,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{36,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,20},{16,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{16,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,268},{46,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{46,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,38},{58,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,156},{54,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{54,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,376},{36,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{36,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,20},{16,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{16,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,268},{46,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{46,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,38},{58,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{58,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,156},{54,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{54,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{36,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{36,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{16,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{16,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,270},{44,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{44,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,98},{56,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{56,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{36,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{16,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,10},{16,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{44,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{44,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,40},{56,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game_coin2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{56,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{56,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_fiscoin.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7ac86ce2724ffa0ae22dce2e88bfb9$</string>
            <key>textureFileName</key>
            <string>game_fiscoin.png</string>
        </dict>
    </dict>
</plist>
