<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <real>90</real>
    <key>angleVariance</key>
    <real>60</real>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>duration</key>
    <real>0.1</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <real>100</real>
    <key>finishColorAlpha</key>
    <real>1</real>
    <key>finishColorBlue</key>
    <real>1</real>
    <key>finishColorGreen</key>
    <real>1</real>
    <key>finishColorRed</key>
    <real>1</real>
    <key>finishColorVarianceAlpha</key>
    <real>0</real>
    <key>finishColorVarianceBlue</key>
    <real>0</real>
    <key>finishColorVarianceGreen</key>
    <real>0</real>
    <key>finishColorVarianceRed</key>
    <real>0</real>
    <key>rotationStart</key>
    <real>180</real>
    <key>rotationStartVariance</key>
    <real>180</real>
    <key>rotationEnd</key>
    <real>0</real>
    <key>rotationEndVariance</key>
    <real>0</real>
    <key>finishParticleSize</key>
    <real>35</real>
    <key>finishParticleSizeVariance</key>
    <real>10</real>
    <key>gravityx</key>
    <real>0</real>
    <key>gravityy</key>
    <real>-400</real>
    <key>maxParticles</key>
    <real>500</real>
    <key>maxRadius</key>
    <real>0</real>
    <key>maxRadiusVariance</key>
    <real>0</real>
    <key>minRadius</key>
    <real>0</real>
    <key>minRadiusVariance</key>
    <real>0</real>
    <key>particleLifespan</key>
    <real>5</real>
    <key>particleLifespanVariance</key>
    <real>0.5</real>
    <key>radialAcceleration</key>
    <real>0</real>
    <key>radialAccelVariance</key>
    <real>0</real>
    <key>rotatePerSecond</key>
    <real>0</real>
    <key>rotatePerSecondVariance</key>
    <real>0</real>
    <key>sourcePositionVariancex</key>
    <real>0</real>
    <key>sourcePositionVariancey</key>
    <real>0</real>
    <key>speed</key>
    <real>500</real>
    <key>speedVariance</key>
    <real>120</real>
    <key>startColorAlpha</key>
    <real>1</real>
    <key>startColorBlue</key>
    <real>1</real>
    <key>startColorGreen</key>
    <real>1</real>
    <key>startColorRed</key>
    <real>1</real>
    <key>startColorVarianceAlpha</key>
    <real>0</real>
    <key>startColorVarianceBlue</key>
    <real>0</real>
    <key>startColorVarianceGreen</key>
    <real>0</real>
    <key>startColorVarianceRed</key>
    <real>0</real>
    <key>startParticleSize</key>
    <real>25</real>
    <key>startParticleSizeVariance</key>
    <real>10</real>
    <key>tangentialAcceleration</key>
    <real>0</real>
    <key>tangentialAccelVariance</key>
    <real>50</real>
    <key>textureFileName</key>
    <string>piaodai/004.png</string>
    <key>textureImageData</key>
    <string>eJzrDPBz5+WS4mJgYOD19HAJAtLaQGzAwQwk908qXgWkLAN8QlyB9NtremSgyOWin4CahUqC/IIZjj67xqGkW+8bMSHNZuFmoS+JEWZSoUDZ754ujiEex7dO9c47bMDjsvb/8UlrPvxrX9t0KYj5yMMdrvePzWZvMmZY66t2i1dNOybsSsBVoUCmuyZ3+PISMzY4v/LzN1lk9Uvt1KuFN3M/hfiqt0cwKl97Jv13QZ2B91LxX09PLIiM3GFemJRRy5UvXvckJtt4rt7J5wbOSl3FE3jaP7MktmfxJq36UHI43XO1lJB42QWlaULBXr8TapI+nsubPH3j3Xymql2LdnlVOJgfiu0OSep6oxXWm7Eug7Egfat5TP3h0v8m5v92te//Hp3fwt2iL3jdVtE+osbAVyaI5XJDwY9UkaiKjZ05HRfZP7TMsbPfO+N+RNufAt16xhhuzZ6p8r0+wCBg8HT1c1nnlNAEAABnsPc=</string>
  </dict>
</plist>