<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/compic/bar_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,786},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/bar_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,102},{402,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{402,14}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/bar_box_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,952},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/bar_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,866},{58,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,54}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/com_amount.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/com_bullet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,191},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_bcjf.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,997},{112,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_bzzgjf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,997},{164,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,26}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_dqpm.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,819},{201,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,45}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_jbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,335},{130,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,122}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,378},{106,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,42}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_light_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,102},{418,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{418,96}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_nb.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,704},{80,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,68}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_500002000.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,506},{309,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{309,89}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_wsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,459},{136,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,45}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_yh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{382,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,188}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/title_dss.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,506},{196,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,64}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/title_8rmfc.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,952},{142,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,42}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,952},{56,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,90}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/title_bsdjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,952},{142,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,39}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_arrow_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,786},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,31}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_arrow_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,786},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,31}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,952},{54,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,90}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,997},{18,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,17}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_jf.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,996},{36,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,18}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,102},{148,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,2}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_order_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,257},{66,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_order_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,866},{66,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_order_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,866},{66,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_order_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,996},{19,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,22}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_order_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,996},{19,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,22}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_order_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,996},{19,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,22}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_order_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,996},{19,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,22}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_order_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,997},{19,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,22}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/rank_pm.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,996},{36,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,18}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_word_wait.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,102},{395,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,32}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_gxhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,378},{395,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,90}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,866},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,866},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,866},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,866},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_rank_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,866},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_rank_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,866},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_rank_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,866},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_rank_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,881},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_btn_ljbtc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,952},{182,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,43}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,953},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,881},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,499},{451,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{451,59}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,102},{274,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{274,138}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,102},{204,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,204}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,499},{320,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,14}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,335},{60,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,4}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_ks.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,1},{332,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{332,138}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_num_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,775},{104,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,130}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_num_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,308},{104,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,130}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/start_num_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,522},{104,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,130}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/arena_bar_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,866},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/arena_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,191},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/com_pic_pbtsts.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1},{496,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,99}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/arena_pic_jfjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,993},{114,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,29}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/com_pic_jjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,821},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/title_sjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,952},{98,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,42}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/title_yqs.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,953},{98,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,42}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_500001002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,775},{309,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,89}</string>
			</dict>
			<key>games/fish/assets/battle/images/compic/result_title_500001003.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,775},{309,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>areanpic.png</string>
			<key>realTextureFileName</key>
			<string>areanpic.png</string>
			<key>size</key>
			<string>{1022,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>