<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/box/box_com_btn_x.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1601},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_com_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{2041,2},{9,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,5}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_com_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1595},{115,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,45}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_com_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1644},{63,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,59}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_com_xj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,636},{180,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,29}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_com_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1167},{233,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{233,37}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_forged_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1607,2},{630,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{630,385}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_forged_box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1095},{352,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{352,240}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_forged_pic_gxhdyj.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1339},{353,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,77}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_forged_title_dzbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1046},{204,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,59}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_gunrate_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1046},{198,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,117}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_gunrate_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,1339},{170,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,42}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_gunrate_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1601},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,57}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_gunrate_pic_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1661},{49,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,47}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_gunrate_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,1027},{327,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{327,71}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_gunrate_word.png</key>
			<dict>
				<key>frame</key>
				<string>{{1996,2},{724,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{724,31}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1339},{264,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_icon_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1167},{226,215}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_icon_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1595},{264,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,768},{268,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_icon_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,941},{225,222}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,463},{497,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{497,169}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2031,2},{483,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{487,6}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,820},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,797},{358,294}}</string>
				<key>offset</key>
				<string>{-6,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,323}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{805,457}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{805,487}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_pic_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,850},{27,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_title_text_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,964},{588,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{588,82}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_title_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,964},{588,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{588,82}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_lucky_title_xybx.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1167},{282,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{282,72}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_min_btn_gunrate.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1513},{91,96}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_min_btn_lucky.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1453},{101,88}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,107}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_min_btn_noble.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1545},{91,92}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_min_btn_single.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1595},{72,64}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_prop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,1644},{85,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,43}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_prop_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1556},{168,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,41}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_prop_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,1696},{85,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,43}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_prop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1707},{84,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,43}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_prop_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,1167},{168,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,43}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_single_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1386},{205,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,207}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_single_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,342},{422,550}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{422,550}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_single_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,768},{298,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{298,274}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_single_hot_xgyc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1081,1018},{153,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,237}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_single_title_1ydlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,342},{474,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{474,225}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_single_title_1ydlb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,463},{474,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{474,225}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_single_wodr_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1992,730},{494,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{494,43}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_single_word_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,1046},{481,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{481,43}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_vip_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1594,636},{361,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,454}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_vip_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1353,820},{203,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,203}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_vip_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1027},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,171}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_vip_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,463},{330,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{330,371}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_vip_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1663},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_vip_pic_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1404},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_vip_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,2},{792,336}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{792,399}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_min_btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1601},{56,61}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/box/box_forged_pic_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1167},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>box.png</string>
			<key>realTextureFileName</key>
			<string>box.png</string>
			<key>size</key>
			<string>{2048,1849}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1849</integer>
		</dict>
	</dict>
</plist>