<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/form/form_box_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,88},{132,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,90}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/form_box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,215},{132,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,90}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/form_box_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,67},{132,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,90}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/form_pic_tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{737,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{737,24}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/form_pic_title_tj.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,30},{68,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,33}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,221},{73,52}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,445},{65,66}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,215},{107,67}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,133},{107,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,449},{60,67}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,154},{80,64}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,323},{107,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,88},{89,62}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,377},{64,71}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,176},{89,65}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,67},{110,73}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_151.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,30},{102,68}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_152.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,67},{109,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_153.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,427},{117,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_154.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,203},{116,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_155.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,351},{112,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_156.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,30},{99,72}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,340},{64,58}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_201.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,2},{209,66}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_203.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,377},{63,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_204.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,30},{212,33}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_205.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,306},{72,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,474},{52,34}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_301.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,428},{122,82}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_302.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,102},{87,69}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_303.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,269},{74,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_304.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,88},{77,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,30},{92,65}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,445},{64,61}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,102},{95,70}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,402},{112,68}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,30},{101,68}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,289},{110,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,286},{83,50}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,126},{91,59}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,373},{47,72}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,449},{75,60}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_501.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,245},{93,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_401.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,215},{209,66}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_157.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,193},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_158.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,215},{113,70}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,359},{63,44}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,30},{53,33}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/fishid_502.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,2},{202,82}}</string>
				<key>offset</key>
				<string>{-9,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/form/form_pic_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,182},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>form.png</string>
			<key>realTextureFileName</key>
			<string>form.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>