<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_btn_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,592},{51,62}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_btn_levelup.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,587},{58,64}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_btn_lottery.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,647},{58,58}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_btn_lottery_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,437},{60,78}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,90}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,966},{16,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,12}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_bar_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,966},{96,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,12}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_djcj.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,306},{129,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_djjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1},{155,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_jscg.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,320},{95,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,23}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_jspb.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,158},{146,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_maxbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,517},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_tittle_jspb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,985},{140,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,35}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_wh.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,553},{48,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_words_jc.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,603},{39,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_words_jjy.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,494},{57,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,650},{20,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_z_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,555},{30,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,31}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_zgpb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{630,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{630,126}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_leaveup.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1},{147,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,97}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_btn_goldpool.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,629},{58,63}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_ckjjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,943},{165,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/setbutton/bl_btn_fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,437},{35,55}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/setbutton/bl_btn_open_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,524},{57,66}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/setbutton/bl_pic_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,320},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>games/fish/assets/battle/images/setbutton/bl_pic_pokedex.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,388},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>games/fish/assets/battle/images/setbutton/bl_pic_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,456},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,966},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,633},{228,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,311}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_btn_djzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,980},{143,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,43}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_btn_ljgm.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,985},{112,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,33}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_pic_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,694},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_pic_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,480},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_pic_sysj.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,417},{82,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,20}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_pic_t.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,626},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_pic_words_hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,523},{70,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,34}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_pic_xstyz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{192,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/selectcannon/selectcannon_pic_yxq.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,417},{61,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,19}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunchange/bl_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,437},{122,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,110}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunchange/bl_pic_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,150},{90,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunchange/bl_pic_cancelauto.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,236},{91,82}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunchange/bl_pic_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,561},{60,85}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunchange/bl_pic_emoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,437},{57,84}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunchange/bl_pic_prop.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,554},{50,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,92}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_btn_mfyb.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,561},{75,66}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/gunupgrade/bl_pic_wh_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,501},{51,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gunupgrade.png</string>
			<key>realTextureFileName</key>
			<string>gunupgrade.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>