<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/lottery/lottery_btn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,439},{100,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,62}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,868},{100,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,62}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_effect_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,671},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,952},{76,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,58}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_bar_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1},{424,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{424,38}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_bg_bulb.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,410},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_bg_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,907},{362,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,56}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_ckjjy.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,907},{176,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,44}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_djcj_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,964},{167,48}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,48}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_kscj.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,427},{135,40}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_title_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,1},{436,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{436,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_title_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,907},{237,93}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,94}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_words_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,836},{101,38}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_words_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,970},{101,39}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_words_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,907},{99,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_words_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,907},{100,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_words_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,398},{99,38}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_words_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,970},{101,39}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_shell_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,671},{180,195}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,196}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_shell_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,671},{163,125}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,132}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_title_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,671},{195,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,60}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_title_gx.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,964},{195,58}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,60}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_title_mfdcj.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,298},{371,75}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{372,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/lottery_pic_cjz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,868},{103,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,36}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/goldpool_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1},{295,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,370}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/goldpool_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,298},{257,216}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,216}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/goldpool_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{518,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{518,395}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/goldpool_pic_jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,564},{341,137}}</string>
				<key>offset</key>
				<string>{-14,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,137}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/goldpool_title_jjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,868},{104,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,35}</string>
			</dict>
			<key>games/fish/assets/battle/images/lottery/goldpool_pic_zjwj.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,298},{110,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,21}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lottery.png</string>
			<key>realTextureFileName</key>
			<string>lottery.png</string>
			<key>size</key>
			<string>{1022,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>