<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/megawin/megawin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,713},{236,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,272}</string>
			</dict>
			<key>games/fish/assets/battle/images/megawin/megawin_pic_fcl.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,565},{264,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,122}</string>
			</dict>
			<key>games/fish/assets/battle/images/ratechange/rc_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,713},{436,139}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{436,140}</string>
			</dict>
			<key>games/fish/assets/battle/images/ratechange/rc_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,278},{24,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,52}</string>
			</dict>
			<key>games/fish/assets/battle/images/ratechange/rc_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,653},{37,37}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>games/fish/assets/battle/images/ratechange/rc_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,854},{435,135}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{435,147}</string>
			</dict>
			<key>games/fish/assets/battle/images/ratechange/rc_pic_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,653},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>games/fish/assets/battle/images/windfall/windfall_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{310,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,358}</string>
			</dict>
			<key>games/fish/assets/battle/images/windfall/windfall_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,854},{108,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,74}</string>
			</dict>
			<key>games/fish/assets/battle/images/windfall/windfall_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{331,351}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,352}</string>
			</dict>
			<key>games/fish/assets/battle/images/windfall/windfall_pic_tjhc.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1},{376,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,102}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/bonus_wheel_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,379},{184,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,186}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/bonus_wheel_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1},{186,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,362},{75,28}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,371},{75,28}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,94},{90,29}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,186},{90,29}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,991},{90,30}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_151.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,991},{91,29}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_152.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,987},{107,30}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_153.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,987},{106,31}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_154.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,987},{107,30}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_155.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,278},{91,28}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_156.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,991},{104,30}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_157.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,281},{79,29}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_158.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,991},{106,30}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_301.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,189},{90,29}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_302.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{91,29}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/killbonus/fishname_303.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,991},{106,29}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,50}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,854},{10,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,86}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,292},{120,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,102}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,843},{184,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,163}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,439},{212,212}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,216}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,448},{178,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,102}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,650},{191,187}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,188}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_bg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,439},{163,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,209}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1},{130,163}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,166}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_buff.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,653},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_pic_hsyb.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1},{212,62}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,64}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_pic_kjsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,133},{157,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,88}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_pic_ksjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,215},{210,56}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{214,60}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_skill_animation_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,354},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_skill_animation_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,843},{64,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/hourglass/hourglass_text_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,650},{60,61}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>other.png</string>
			<key>realTextureFileName</key>
			<string>other.png</string>
			<key>size</key>
			<string>{1019,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>