<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/share/bl_share_logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,819},{242,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,56}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/bl_share_prop_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{150,115}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/bl_share_prop_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,515},{150,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_btn_hyfx1.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,727},{204,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,60}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_btn_peyfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,727},{222,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,54}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_orcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_cell_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,877},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_prop_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,877},{119,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_prop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,951},{61,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,32}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_prop_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,986},{63,32}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_prop_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,986},{62,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,34}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_prop_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,917},{62,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,32}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_prop_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,667},{119,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_prop_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,877},{119,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_prop_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,877},{120,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,33}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_title_hyfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,667},{219,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,58}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_wxfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,515},{219,53}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,54}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_qscfxkd.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,645},{243,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,20}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_gxnbh.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,620},{281,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,23}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_152.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,959},{102,25}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_153.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,986},{102,25}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_154.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,932},{102,25}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_155.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,985},{76,25}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_156.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,959},{102,25}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_157.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,819},{76,25}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/share_pic_158.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,998},{103,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/bl_share_pic_fx.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,877},{80,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,41}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/com_pic_fxzd.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,667},{123,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,39}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/com_pic_fxzlyc.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,620},{179,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,39}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/com_pic_yb.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,877},{66,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,38}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/com_pic_vip3klqgd.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,702},{170,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,21}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/sharegift_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,303},{166,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,210}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/sharegift_btn_djfx.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,570},{201,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,48}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/sharegift_pic_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,789},{313,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,28}</string>
			</dict>
			<key>games/fish/assets/battle/images/share/sharegift_title_fxhl.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,570},{140,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>share.png</string>
			<key>realTextureFileName</key>
			<string>share.png</string>
			<key>size</key>
			<string>{635,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>635</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>