<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/skill/bl_btn_hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,776},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_btn_jn.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,681},{30,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,54}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_btn_x2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,55},{73,74}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_btn_x2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,366},{73,74}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_btn_x4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,291},{73,74}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_btn_x4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,442},{73,74}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_deskskill_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,390},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_kb_yjjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1},{288,35}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,36}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_listskill_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,486},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,952},{60,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,108}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,952},{45,82}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,82}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{77,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,27}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,854},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,932},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,776},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,854},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,932},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,390},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,288},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,468},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,55},{98,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{98,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,748},{98,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,850},{97,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,156},{94,100}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,850},{97,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,288},{97,100}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,55},{97,99}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/hgtips_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,582},{97,91}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_017_gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,156},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_text_id_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{520,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,52}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_text_id_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,291},{455,52}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{520,52}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_text_id_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1},{456,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,52}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_skill_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,952},{58,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,78}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,582},{87,96}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,680},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_pic_skill_prop_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,717},{88,95}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/bl_btn_bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,259},{76,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,27}</string>
			</dict>
			<key>games/fish/assets/battle/images/skill/sk_icon_diamonds.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,681},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>skill.png</string>
			<key>realTextureFileName</key>
			<string>skill.png</string>
			<key>size</key>
			<string>{1017,1013}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1013</integer>
		</dict>
	</dict>
</plist>