<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/common/images/set/set_bar_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,524},{60,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>games/fish/assets/common/images/set/set_bar_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1070},{60,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>games/fish/assets/common/images/set/set_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,1979},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>
			<key>games/fish/assets/common/images/set/set_pic_bjyy.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,656},{119,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,36}</string>
			</dict>
			<key>games/fish/assets/common/images/set/set_pic_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,1333},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>games/fish/assets/common/images/set/set_pic_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,1361},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>games/fish/assets/common/images/set/set_pic_yx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1173,2013},{70,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,34}</string>
			</dict>
			<key>games/fish/assets/common/images/set/set_pic_yxyx.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,738},{119,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,36}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_blue_min_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,874},{38,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,64}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_blue_min_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,869},{38,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,64}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_blue_min_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1070},{38,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,64}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_blue_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,1891},{140,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_close_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,658},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_close_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,658},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_close_ex_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,909},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_close_ex_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,796},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_green2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,742},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_select_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,451},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_touming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,916},{84,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,126}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_fx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,1979},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_qd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1238,1979},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_qx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1979},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_ts.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,642},{62,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,31}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_words_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,777},{90,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,44}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_propbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,598},{180,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,196}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,577},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1122},{196,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,60}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_title_bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,432},{436,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{436,86}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_title_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,830},{238,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{238,94}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_title_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1381},{216,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,64}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_title_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,376},{452,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{452,132}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_pic_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,868},{56,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,42}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_update_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,432},{4,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,186}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,306},{148,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,43}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_hdxq.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,456},{148,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,43}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,779},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_grxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,506},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_item_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,1122},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_pic_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,624},{290,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,184}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_pic_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1531},{290,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,184}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_pic_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,306},{290,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,184}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_pic_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1975,1519},{68,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,370}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_pic_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1012},{170,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,42}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_pic_bsbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1286},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,72}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_pic_tmbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1286},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,72}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_pic_zsbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1202},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,72}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1381},{244,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,74}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bl_infobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1122},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_body_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,330},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_boxs_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,596},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,529},{46,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,40}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_pic_graybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2038,723},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,9}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_pic_infobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,796},{84,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_pic_infobg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,80}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_pic_minbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,524},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_tip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,372},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,372},{40,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,34}</string>
			</dict>
			<key>games/fish/assets/common/images/guide/com_guide_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1202},{82,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,74}</string>
			</dict>
			<key>games/fish/assets/common/images/guide/com_guide_effect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,306},{217,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,216}</string>
			</dict>
			<key>games/fish/assets/common/images/guide/com_guide_effect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,376},{246,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,246}</string>
			</dict>
			<key>games/fish/assets/common/images/guide/com_guide_jiaose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1823},{159,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,150}</string>
			</dict>
			<key>games/fish/assets/common/images/guide/com_guide_shouzhi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,916},{75,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,98}</string>
			</dict>
			<key>games/fish/assets/common/images/guide/com_guide_shouzhi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,408},{75,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,98}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_loading_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,796},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>games/fish/assets/common/images/com_boxs_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,620},{40,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,8}</string>
			</dict>
			<key>games/fish/assets/common/images/com_changecannon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1381},{144,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,148}</string>
			</dict>
			<key>games/fish/assets/common/images/com_effect_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,601},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>games/fish/assets/common/images/com_icon_coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,330},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>games/fish/assets/common/images/com_icon_diamonds.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,408},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_box_light_.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,624},{386,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{386,46}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_choice.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,330},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_choicebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,400},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_hook.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,414},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_hookbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,859},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_infobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,698},{84,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_line_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2034,432},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,4}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_photo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,306},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_vipzgdj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1519},{458,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{458,58}</string>
			</dict>
			<key>games/fish/assets/common/images/com_prop_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1823},{134,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,134}</string>
			</dict>
			<key>games/fish/assets/common/images/bl_racelamp_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1070},{248,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,50}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_racelamp_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,306},{154,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,40}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1},{620,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{620,202}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_btn_fxlq.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1979},{134,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,32}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_btn_qx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,1979},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1},{491,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{491,123}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,1},{491,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{491,123}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,126},{491,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{491,123}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,205},{491,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{491,123}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,205},{491,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{491,123}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_pic_qscfxkd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,1286},{243,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{243,20}</string>
			</dict>
			<key>games/fish/assets/common/images/moreshare/share_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,251},{491,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{491,123}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_help_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,524},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_help_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,742},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_wh2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,698},{48,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,50}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,855},{410,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{410,77}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_fxdq.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,2013},{134,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,32}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,400},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,567},{65,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,108}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,2022},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,2013},{49,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,30}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1865,855},{476,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{476,26}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1979},{488,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{488,39}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_hdxq.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,1979},{134,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_arrow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1012},{54,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,86}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_arrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,916},{54,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,86}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_jryl.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,2013},{134,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,32}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_prop_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1202},{168,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,168}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_ljgm.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,1979},{134,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_lq.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,868},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_mrlq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,1979},{133,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_qd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,868},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_cxtz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,2013},{133,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_ckxq.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,2020},{86,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,22}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,444},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_tj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1316,2013},{66,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,33}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_pic_titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,744},{378,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{378,84}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_title_gxhd.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1012},{159,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,49}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,606},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_yzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,2020},{80,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,26}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_zb.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,2020},{54,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,26}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_word_ty.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,981},{57,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,28}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_hq.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,2020},{56,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,27}</string>
			</dict>
			<key>games/fish/assets/common/images/layerbg/com_bg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,462},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/bag_title_hs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,2013},{69,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,34}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_minus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,792},{80,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_plus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,796},{80,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_hs.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,462},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_title_gxn.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,606},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_x_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,656},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_x_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,824},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{697,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{697,303}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,306},{293,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,44}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,870},{324,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,102}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_newgreen_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1695,1124},{255,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,83}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_newgreen_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,1267},{255,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,83}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_qwcz.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,1979},{134,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,33}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_fx2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,750},{66,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,32}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,1979},{437,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,41}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,830},{370,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,45}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1457},{378,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{378,44}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1931,1196},{321,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{321,101}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1700,376},{366,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{366,100}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1940,1},{429,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{429,100}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_text_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1802,494},{359,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,99}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_fxlq.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,2013},{134,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,32}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_pic_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,662},{8,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,30}</string>
			</dict>
			<key>games/fish/assets/common/images/commonshare/share_pic_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,694},{8,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,30}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_pic_fxld.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,2014},{135,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,32}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/banbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,981},{34,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,29}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/biyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,366},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/chibang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,759},{19,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,18}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/chibang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,734},{23,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,15}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,698},{51,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,41}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/shenti_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,916},{128,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,65}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/shenti_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,677},{99,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,65}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/shetou.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,813},{11,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,10}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/weiba.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,529},{31,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,65}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/yanzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,825},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/yanzhu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,2022},{25,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/yuchi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,2020},{46,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,23}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/yuchi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,2020},{39,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,22}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_ani/yuwei.png</key>
			<dict>
				<key>frame</key>
				<string>{{2028,797},{14,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,16}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_bar_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{1903,494},{790,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{790,26}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/loading_pic_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2020},{117,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,25}</string>
			</dict>
			<key>games/fish/assets/common/images/loading/hall_pic_hallbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2042,1},{2,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{2,720}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common_plist.png</string>
			<key>realTextureFileName</key>
			<string>common_plist.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>