<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/common/images/btn/com_btn_touming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1012},{1,1}}</string>
				<key>offset</key>
				<string>{41,-62}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,126}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_pic_hookbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,324},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_pic_insert_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,69},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/exchangeshop_bg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,137},{107,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,36}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/forged_num_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,145},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/lottery_bg_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{98,452}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,452}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/shop_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,380},{50,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/shop_btn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,225},{97,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,78}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/shop_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,113},{97,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,78}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/vip_pic_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,455},{67,369}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,370}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/vip_pic_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,581},{80,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_bg_sylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,145},{191,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,30}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_pic_info_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,335},{46,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,126}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/arena_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,125},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/arena_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,65},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,1},{66,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,116}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/arena_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,97},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,335},{46,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,52}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,384},{66,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,152}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/result_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,996},{608,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{608,8}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/bar_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,85},{60,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,38}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_bg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1006},{218,4}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,4}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,380},{50,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,40}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/dailyrace_bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,380},{48,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,42}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/exchangeshop_bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,1},{70,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,94}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/exchangeshop_bg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,85},{44,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,54}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/exchangeshop_bg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,1},{116,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,62}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/exchangeshop_bg_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,85},{44,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,38}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/exchangeshop_bg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{175,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,86}</string>
			</dict>
			<key>games/fish/assets/common/images/uncompressed/com_bg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,383},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/common/images/com_pic_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,137},{105,105}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_ash.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,178},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,594},{204,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,88}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,594},{204,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,88}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_blue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,452},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_blue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,178},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_blue_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,440},{140,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_green_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_green_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,73},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_green2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,383},{120,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_green3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,315},{126,63}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,64}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_grey_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_grey_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_minus_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,137},{74,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_minus_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,212},{74,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_newyellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,826},{255,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,83}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_newyellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,911},{255,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,83}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_orange_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,175},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_orange_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,175},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_orange_s_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,435},{140,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_orange_s_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,244},{140,69}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_orange_t_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,85},{181,50}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,52}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_orange_t_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,524},{181,50}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,52}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_plus_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,169},{74,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_plus_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,213},{74,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,70}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,581},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,741},{158,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,82}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_red2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,524},{165,55}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,56}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_red2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,383},{165,55}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{166,56}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,177},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>games/fish/assets/common/images/btn/com_btn_yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,177},{204,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,90}</string>
			</dict>
			<key>games/fish/assets/common/images/compic/com_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,455},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>uncompressed.png</string>
			<key>realTextureFileName</key>
			<string>uncompressed.png</string>
			<key>size</key>
			<string>{1022,1014}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>1014</integer>
		</dict>
	</dict>
</plist>