<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,565},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,469},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1104},{154,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,148}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,410},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_btn_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,1932},{68,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,253}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_btn_dj_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,1903},{59,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,108}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_btn_dj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1016},{59,108}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,108}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1077},{26,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_pic_z.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,1903},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_title_sc.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,601},{231,159}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{232,160}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_pic_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{1457,2023},{22,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1421,2023},{23,34}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_pic_yxq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,1853},{137,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,27}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_pic_w.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,1903},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_yubi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,1927},{114,65}}</string>
				<key>offset</key>
				<string>{2,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,144}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_yubi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,1766},{139,80}}</string>
				<key>offset</key>
				<string>{2,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,144}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_yubi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1260},{147,138}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,144}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_yubi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,138},{136,130}}</string>
				<key>offset</key>
				<string>{4,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,144}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/dial_dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,1639},{197,255}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,258}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exc_shop_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1766},{301,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{301,85}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exc_shop_unit.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,1077},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchange_btn_dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1882},{91,43}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1},{118,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,118}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,269},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1639},{12,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,79}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1933},{1010,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1010,79}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1107},{226,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,246}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1355},{226,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,246}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1556},{60,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,35}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,276},{132,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,132}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1107},{552,340}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{552,341}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1639},{12,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,12}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_btn_cj_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1260},{146,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_btn_cj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1408},{146,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,146}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_icon_yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1550},{46,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,48}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_light_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,834},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_dhsl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1994},{115,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,27}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{598,598}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{598,598}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_hjjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,2014},{160,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,29}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_jg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,1875},{109,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_light_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,1639},{13,14}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1550},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_lxdh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,1964},{113,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_lxr.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1848},{115,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_qrdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1853},{156,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,41}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_shdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,1991},{112,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_sycs.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,2014},{210,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_whel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,601},{504,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{504,504}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_yf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,2018},{108,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_yqc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,2023},{69,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_zz.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1016},{58,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,97}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_icon_cj.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1409},{139,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_yjcj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,1887},{127,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,33}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_xxcy.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,410},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1077},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_icon_hfj.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,96},{54,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/dial_pic_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1639},{343,125}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{344,126}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_box_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,504},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,62}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_bar_blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,1603},{570,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{570,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_box_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1},{135,135}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_box_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1154,2002},{90,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_btn_sj.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1550},{63,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,31}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_btn_yb.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,236},{63,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,31}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_pic_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,2002},{85,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,48}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_pic_cktq.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1853},{134,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,32}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_pic_words_sc.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1556},{68,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/shop_vip_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1556},{50,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_icon_hf.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,1},{139,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/hall_btn_pic_hqfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,2002},{102,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,33}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,138},{156,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,96}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_cornermark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,504},{59,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,55}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_pic_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2014},{538,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{538,20}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_title_hqfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1896},{140,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_title_hfdh.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1896},{140,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1661},{635,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{635,270}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_btn_lxkf.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,2014},{150,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/exchange_shop/exchangeshop_title_qrdd.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,1896},{140,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>exchange_shop.png</string>
			<key>realTextureFileName</key>
			<string>exchange_shop.png</string>
			<key>size</key>
			<string>{1594,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1594</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>