<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/forged/forged_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1081},{48,49}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1118},{102,77}}</string>
				<key>offset</key>
				<string>{-24,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,212},{137,129}}</string>
				<key>offset</key>
				<string>{-7,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,880},{145,141}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,612},{147,150}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,759},{145,150}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,750},{146,150}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,762},{141,150}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,425},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,575},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,612},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,1021},{181,65}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,1042},{194,63}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1042},{194,65}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,42},{6,38}}</string>
				<key>offset</key>
				<string>{-76,-91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1094},{144,69}}</string>
				<key>offset</key>
				<string>{-7,-75}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,1006},{146,88}}</string>
				<key>offset</key>
				<string>{-7,-68}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,904},{144,102}}</string>
				<key>offset</key>
				<string>{-7,-60}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,488},{119,125}}</string>
				<key>offset</key>
				<string>{6,-48}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,903},{139,150}}</string>
				<key>offset</key>
				<string>{16,-36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,349},{139,122}}</string>
				<key>offset</key>
				<string>{16,-50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,896},{139,147}}</string>
				<key>offset</key>
				<string>{16,-37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,607},{155,171}}</string>
				<key>offset</key>
				<string>{8,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,959},{155,157}}</string>
				<key>offset</key>
				<string>{8,-31}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,725},{155,166}}</string>
				<key>offset</key>
				<string>{8,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1035},{80,137}}</string>
				<key>offset</key>
				<string>{-29,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1086},{78,110}}</string>
				<key>offset</key>
				<string>{-29,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,42},{9,64}}</string>
				<key>offset</key>
				<string>{-64,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1086},{96,91}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,212},{230,155}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,214},{302,199}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,0},{332,212}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{329,214}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,521},{163,205}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,589},{161,161}}</string>
				<key>offset</key>
				<string>{-16,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,684},{183,182}}</string>
				<key>offset</key>
				<string>{-20,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_cg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,589},{40,68}}</string>
				<key>offset</key>
				<string>{55,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,0},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1026},{96,92}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,367},{230,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,413},{302,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,0},{332,212}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,212},{329,213}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,425},{164,205}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,866},{160,160}}</string>
				<key>offset</key>
				<string>{-16,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,778},{182,181}}</string>
				<key>offset</key>
				<string>{-20,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,657},{40,68}}</string>
				<key>offset</key>
				<string>{55,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{350,225}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_sb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1026},{69,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_sb_sb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,1010},{71,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_effect_dzcg.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,866},{144,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>forged_effect.png</string>
			<key>realTextureFileName</key>
			<string>forged_effect.png</string>
			<key>size</key>
			<string>{1023,1236}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1236</integer>
		</dict>
	</dict>
</plist>