<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/forged/com_pic_hook.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,576},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,378},{30,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,628},{38,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,43}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{799,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{799,375}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,454},{144,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,58}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,378},{111,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_dz_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1},{254,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,88}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_dz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1},{254,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,88}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_qxksdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,513},{178,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_num_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,794},{52,51}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_dz0.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,513},{115,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,48}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_dzcgl.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,413},{149,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_fuhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,424},{19,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,22}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_gxsjzgpb.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,442},{350,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,31}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_sjpb.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,513},{161,31}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,32}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/lightningball.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,378},{131,127}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/lottery_effect_light_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,600},{137,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/lottery_title_gx.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,257},{195,58}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/com_pic_qd.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,378},{89,43}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,48}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,744},{246,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{246,286}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_yjlsb.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,687},{159,33}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_zsy1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,257},{485,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{485,22}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_num_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,257},{112,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,2}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_10000.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,378},{171,33}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_bcdzxy.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,443},{119,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,20}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_bg_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,613},{30,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_ckxq.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,744},{123,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,37}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,554},{319,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,20}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/hall_title_pbxq.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,455},{185,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,41}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_js.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,443},{42,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_pb.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,378},{42,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/com_tips_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,628},{40,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_bldz_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,378},{65,133}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_bldz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,513},{75,143}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_dz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,257},{254,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{254,88}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_fsdz_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,590},{65,133}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_btn_fsdz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,378},{75,143}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,150}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_bfbcgx.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,445},{239,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_dqpbmczghd.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,513},{303,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,20}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_jspb.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,513},{192,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_mczgdl.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,472},{201,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_nysjdzgpb.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,472},{228,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_scfs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,600},{131,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,37}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_scfs2.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,733},{131,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{131,37}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_sjdpb.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,469},{216,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_tips1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,992},{388,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{388,17}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_tipsbtn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,847},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_tipsbtn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,576},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_title_bldz.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,630},{140,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,35}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_title_fsdz.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,676},{140,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,35}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_title_pbxq.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,707},{141,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_mczgdl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,725},{200,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,17}</string>
			</dict>
			<key>games/fish/assets/hall/images/forged/forged_pic_cgdzpb.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,1},{439,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>forged.png</string>
			<key>realTextureFileName</key>
			<string>forged.png</string>
			<key>size</key>
			<string>{1023,1010}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1010</integer>
		</dict>
	</dict>
</plist>