<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,1},{290,177}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,177}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_effect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,855},{206,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,159}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_effect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,881},{428,142}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{464,184}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_hdxb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,775},{195,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,76}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,645},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,1},{310,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{310,204}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,180},{162,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,130}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_you_jeimao.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,857},{22,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,20}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_you_jiazi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1397,645},{36,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_you_jiazi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,362},{72,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,87}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_you_jiazi_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,857},{32,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,24}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_you_jiazi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,645},{32,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,43}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_you_shoubi1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,389},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_you_shoubi1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,857},{43,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,20}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_you_yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,712},{35,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_zuo_jeimao.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,857},{22,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,18}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_zuo_jiazi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1115,391},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_zuo_jiazi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,282},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_zuo_jiazi_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,282},{39,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_zuo_jiazi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,391},{42,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,47}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_zuo_shoubi1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,712},{46,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_zuo_shoubi1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,857},{35,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/hdxb/hallroom_zuo_yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,407},{36,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,48}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,451},{334,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,404}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1},{324,191}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,191}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_erhuan_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1008},{10,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,21}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_erhuan_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1008},{11,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{11,20}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_haishui.png</key>
			<dict>
				<key>frame</key>
				<string>{{1174,313},{86,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,74}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_jdms.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,777},{237,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,90}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{372,448}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{372,448}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_lianzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,1008},{14,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{14,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_liuhai.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,407},{41,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,79}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_meimao_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1008},{35,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,13}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_meimap_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1008},{34,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,12}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_paopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,645},{69,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,64}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_shangbanshen.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,883},{123,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,221}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_shoubi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,194},{86,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,127}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_shoubi_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,345},{93,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,103}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_shouzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,1008},{12,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,43}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,194},{148,149}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,149}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_toufa_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,449},{285,326}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,326}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_xiabanshen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1262,282},{126,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,78}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_youshou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,362},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_youshou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,194},{72,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_youshou_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,407},{35,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,127}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_yu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,712},{57,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,55}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_zuoshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,645},{65,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,89}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hall_pic_jjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,777},{238,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,90}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,1},{299,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,404}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1},{299,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,404}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_bg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1016},{269,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,2}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,451},{320,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,430}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_effect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,855},{206,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,159}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_effect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1385,194},{67,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_effect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,869},{428,142}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{464,184}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_effect_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,711},{428,142}}</string>
				<key>offset</key>
				<string>{2,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{464,184}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_jb_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,278},{70,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,75}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_jb_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,391},{49,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,62}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_jb_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,407},{52,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_jb_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,391},{60,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,47}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_jb_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,712},{61,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,51}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_jb_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,712},{56,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,55}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_jb_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,407},{52,40}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_jb_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,712},{58,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,59}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_paopao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1358,645},{37,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,40}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_trophy.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,445},{265,248}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{265,251}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_yingzi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1502,645},{40,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,31}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jjc/hallroom_yingzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,711},{45,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/fj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,389},{47,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_bj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,440},{290,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,177}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_fj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,883},{260,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{260,131}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_jb_youshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,857},{22,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,440},{310,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,203}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_qi.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,857},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_qizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1006,712},{64,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{1570,345},{91,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,101}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_ylc.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,313},{195,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,76}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_zui.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,407},{56,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,38}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/ylc/hallroom_zuoshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,857},{18,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{18,37}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_banbi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,407},{45,37}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_banbi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,407},{45,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_bi.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,407},{45,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_yan.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,407},{45,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/room/jdms/hallroom_meimap_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1008},{33,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,12}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_mode.png</string>
			<key>realTextureFileName</key>
			<string>hall_mode.png</string>
			<key>size</key>
			<string>{1799,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1799</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>