<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_arrow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,179},{54,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,86}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_arrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,762},{54,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,86}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_dss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{358,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,510}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_jjgz_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,1},{176,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_jjgz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1},{176,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_jjrw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1974,1},{176,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_jjrw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1856,397},{176,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_mrt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,456},{176,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_mrt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1761,456},{176,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_wylj_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,753},{136,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_wylj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1873,770},{136,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_effect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,1},{253,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,296}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_mrmfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,290},{174,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,154}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_pic_jrjf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1030,883},{103,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_pic_jrpm.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,476},{103,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_pic_kqsj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,254},{103,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_pic_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,466},{215,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_pic_text2.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,476},{168,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,24}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_pic_text3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,706},{163,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,59}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rank_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,503},{216,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,296}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rank_no1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,502},{216,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,296}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rank_no2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,501},{216,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,296}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rank_no3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,1},{216,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,296}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rank_zgj.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,513},{271,400}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,401}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_title_dss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1664,279},{178,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,72}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_title_jjbyyqdj.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,915},{410,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,77}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_title_mrmfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,908},{293,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,71}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,300},{166,187}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,190}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,494},{187,186}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,190}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,494},{183,179}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,190}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1021},{333,505}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,509}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_btn_help_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,446},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_btn_help_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,496},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_btn_pm_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,920},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_btn_pm_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1482,903},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1528},{333,505}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,509}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1021},{333,505}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{337,509}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_gjjp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,458},{92,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,275},{392,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{392,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,801},{237,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,683},{197,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,289},{198,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,300},{174,204}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,211}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_8rmfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,799},{249,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,74}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_pmjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,219},{122,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,33}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,915},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1676,934},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,973},{56,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,68}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btnpic_mftz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,421},{147,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,35}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_mrs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,513},{354,506}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,510}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1844,279},{125,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,116}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_task_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,883},{194,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,20}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_task_bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,256},{206,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,32}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_task_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,908},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_task_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1413,421},{140,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,35}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rule_award_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,782},{136,70}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rule_award_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1977,629},{151,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rule_battle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,751},{136,70}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rule_battle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,634},{151,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rule_enter_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,762},{136,70}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rule_enter_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,679},{151,70}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,80}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_rule_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,219},{139,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,35}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_gz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,458},{69,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_hejf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1268,256},{103,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_jl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1755,250},{50,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_nc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1702,250},{51,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_pic_pm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,353},{49,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,25}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_titlepic_pm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,762},{69,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/master_btnpic_bm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1555,413},{65,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,33}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/master_btnpic_mfbm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,254},{133,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,33}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_com_jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{1693,353},{45,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,468},{258,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,31}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_btnpic_yjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,256},{87,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,29}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_mrpm_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,575},{176,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/arena_btn_mrpm_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1905,592},{176,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,70}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/master_btnpic_jxtz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1441,219},{134,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,33}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_titlepic_mrt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1701,214},{105,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/master_mrt_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1808,214},{170,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,63}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/master_mrt_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,398},{56,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,232}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/master_pic_jf.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,179},{51,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,21}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,994},{594,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{594,18}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_bg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1},{334,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,272}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_banbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,546},{48,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_banbi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,823},{48,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,44}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_biyan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,397},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_haungguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,823},{90,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,78}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_jiangbei.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1},{303,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,308}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_pifeng_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,370},{44,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,82}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_pifeng_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,801},{202,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,105}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_pifeng_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,179},{19,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,45}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_pifeng_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,179},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_sheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1980,267},{179,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,65}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_shengzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,448},{179,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,65}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_shenti.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,311},{190,350}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,351}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_youshou_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1617,370},{26,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,74}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_youshou_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,850},{87,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,53}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_yuchi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,353},{26,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,43}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_yuchi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,370},{67,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,41}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_yuchi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,256},{17,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,48}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_dss/hallroom_yuchi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1963,179},{24,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,32}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_chuxu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,767},{73,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,91}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_chuxu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,767},{70,102}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,102}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_chuxu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1796,891},{80,65}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,67}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_chuxu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,903},{75,54}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,83}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_maozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1264,290},{198,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,129}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_quantao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,860},{72,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,85}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_quantao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,839},{74,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,86}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1598,1},{211,230}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{211,244}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/jjc_mfs/hallroom_yumao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1746,973},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>
			<key>games/fish/assets/hall/images/hall_jjc/dailyrace_btnpic_bm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,456},{57,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hall_jjc.png</string>
			<key>realTextureFileName</key>
			<string>hall_jjc.png</string>
			<key>size</key>
			<string>{2048,2034}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2034</integer>
		</dict>
	</dict>
</plist>