<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_day.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,425},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_pic_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,876},{123,90}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,104}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_pic_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,497},{113,94}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,104}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_pic_2003.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,463},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_pic_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,334},{94,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,104}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_pic_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,497},{94,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{124,104}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_prop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,373},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_prop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,411},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_prop_2003.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,358},{96,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_prop_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,968},{51,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_prop_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,456},{50,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_prop_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,358},{51,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,28}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_prop_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,780},{16,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,23}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_box_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,266},{66,175}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,176}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_box_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,964},{98,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_djlq.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,266},{163,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,46}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_gm.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,835},{164,47}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,52}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{263,266}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,266}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_ljs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,876},{130,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,103}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_mrs.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,968},{34,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,90}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_sylq.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,266},{229,35}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,780},{216,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,64}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_titlewords.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,1},{777,36}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{778,36}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_titlewords1.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1},{832,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{832,26}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_pic_yjxj.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,835},{384,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{384,39}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_sylq_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,358},{191,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{191,30}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_title_30yczyk.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1},{370,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,79}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_title_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,964},{42,41}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_title_yk.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,876},{154,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,86}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/monthcard_title_ykdlb.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1},{355,86}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,86}</string>
			</dict>
			<key>games/fish/assets/hall/images/monthcard/mcard_prop_1004.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,431},{100,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>month_card.png</string>
			<key>realTextureFileName</key>
			<string>month_card.png</string>
			<key>size</key>
			<string>{503,1020}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>503</integer>
			<key>height</key>
			<integer>1020</integer>
		</dict>
	</dict>
</plist>