<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{216,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,245}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_tqjs.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,214},{116,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,32}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v0.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,173},{129,38}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v1.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,134},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v101.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,174},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,1},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v30.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,213},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v4.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v5.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,1},{130,37}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v6.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,214},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v7.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,1},{131,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v8.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,248},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_v9.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,133},{130,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_title_viptq.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,1},{118,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,34}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vipintroduce_pic_text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,248},{281,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,31}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,457},{58,52}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1},{60,55}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,63},{60,55}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,344},{62,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,344},{60,55}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,254},{61,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,254},{59,59}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,344},{61,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,408},{58,55}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,406},{62,52}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
			<key>games/fish/assets/hall/images/vip/vip_badge_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,401},{60,54}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>vip.png</string>
			<key>realTextureFileName</key>
			<string>vip.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>