<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_baoxiang_yujuan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{220,179}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,180}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_baoxiang_yujuan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,792},{161,151}}</string>
				<key>offset</key>
				<string>{-18,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,180}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_baoxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1},{224,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,180}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_baoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,710},{166,140}}</string>
				<key>offset</key>
				<string>{-15,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,176}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_baoxiang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,945},{83,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,72}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_baoxiang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,155},{86,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,78}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1},{54,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,152}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,898},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,852},{73,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,60}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,710},{66,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,51}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_box_dz_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,792},{177,148}}</string>
				<key>offset</key>
				<string>{-14,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,180}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_box_dz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,182},{217,177}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,180}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_bx_gjdz_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,710},{161,150}}</string>
				<key>offset</key>
				<string>{-18,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,180}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_bx_gjdz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,710},{186,179}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,180}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_countdown-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,945},{44,126}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,126}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_countdown-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,898},{91,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{187,126}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_countdown-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,898},{83,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,126}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_countdown-go.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,873},{187,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,126}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,792},{198,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{198,136}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_haidao.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,361},{149,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,130}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_loser.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{494,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{494,83}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_pic_dzbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,298},{30,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,79}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_pic_hjbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,371},{30,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,79}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_pic_kbbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,992},{30,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,79}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_pic_lqbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,992},{30,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,79}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_pic_sjbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,991},{30,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,79}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_pic_yjbx.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,991},{30,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,79}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,971},{129,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,48}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_txt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,710},{468,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{468,80}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_word_ckyqsc.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,183},{186,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,34}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_xsrw.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,243},{465,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{465,81}</string>
			</dict>
			<key>games/fish/assets/battle/images/rewardtask/rt_xssj.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,183},{113,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>rewardtask.png</string>
			<key>realTextureFileName</key>
			<string>rewardtask.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>