<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>games/fish/assets/battle/cannon/bl_btn_-_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,145},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_btn_-_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,145},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_btn_add_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,59},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_btn_add_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,59},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_cannon_base_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,924},{188,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,80}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,920},{184,75}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,76}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,198},{89,135}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,594},{95,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,347},{110,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,347},{109,138}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,779},{128,139}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,779},{125,143}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,499},{138,138}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,179},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_multiple_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,146},{200,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_pic_bankrupt.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,335},{129,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_pic_player_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{198,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{198,198}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,355},{140,142}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1},{137,143}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,201},{137,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,198},{92,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,335},{92,135}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,201},{152,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,487},{105,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,916},{106,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,622},{122,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,758},{119,136}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,639},{133,133}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,1},{137,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,639},{132,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_vip_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,499},{121,141}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,774},{123,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,144}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/gunfire_1_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,197},{73,108}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,160}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/gunfire_1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,114},{63,110}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,160}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/gunfire_1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,472},{92,131}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,160}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/gunfire_1_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1},{64,111}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,160}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/gunfire_1_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1},{56,112}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,160}</string>
			</dict>
			<key>games/fish/assets/battle/cannon/bl_gun_limit.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,255},{71,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cannon.png</string>
			<key>realTextureFileName</key>
			<string>cannon.png</string>
			<key>size</key>
			<string>{658,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>658</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>